@{
    ViewData["Title"] = "Bienvenido a FutApp";
}

<div class="container text-center mt-5">
    <h1 class="display-4">Bienvenido a FutApp</h1>
    <p class="lead">Registra a tu jugador favorito y dale un seguimiento detallado.</p>
    <p>Gestiona equipos, jugadores y mantén un historial actualizado de su rendimiento.</p>

    <a class="btn btn-primary btn-lg mt-3" asp-controller="Clubes" asp-action="Index">Ver Clubes</a>
    <a class="btn btn-success btn-lg mt-3" asp-controller="Futbolistas" asp-action="Index">Ver Jugadores</a>
</div>
